<!-- start: #header -->
<header id="header" class="minimalist">

	<div class="menu-mobile">
        <svg class="icon ularge open"><use xlink:href="{{asset 'images/svg-icons.svg#menu-icon'}}"></use></svg>
        <svg class="icon ularge close"><use xlink:href="{{asset 'images/svg-icons.svg#close-icon'}}"></use></svg>
    </div>

	<!-- start: .menu-wrapper -->
	<div class="menu-wrapper">
	
		<div class="grid-container grid-large">  

            <div class="epcl-flex">
                {{> site-logo }}
                <!-- start: .main-nav -->
                <nav class="main-nav">      
                    {{navigation}}     
                    <div class="clear"></div>             
                </nav>
                <!-- end: .main-nav -->
                <div class="clear"></div>            
            </div>		
            
            <div class="clear"></div>
        </div>
		
	</div>
	<!-- end: .menu-wrapper -->
	
	<div class="clear"></div>

</header>
<!-- end: #header -->