{{#if @site.logo}}
    <div class="logo" ><a href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" width="130" decoding="async"></a></div>
{{else}}
    <div class="logo text-logo"></div>
{{/if}}