{{!< default}}

<main id="home" class="main">

    <!-- start: .content-wrapper -->
    <div class="content-wrapper"> 
        <div class="sticky-container np-bottom">
            
            <div class="bg-box module-subpage-header">
                <div class="sp-header-text grid-container grid-small">
                    <h1 class="title ularge no-margin underline-effect">Final Fantasy XIV</h1>
                    <p>A dedicated section for all of my FFXIV content.</p>
                </div>
            </div>

            {{> home-blocks/classic-posts}}    

        </div>  
    </div>
    <!-- end: .content-wrapper -->

</main>

    